

 {% block steelshet %}
     <style>
        .wrapper{
            margin-top: 7%;
            background-color: #222;
            width: 400px;
            height: 300px;
            margin-left: 35%;
            box-shadow: 5px 5px #222333;
        }
        .container{
            margin-top: 10%;
            text-align: center;
        }


        input{
            display: block;
            margin: auto;
            padding: 10px;
            margin-top: 30px;
        }
        .sf-toolbar sf-display-none{
            display: none;
        }
        #login-button{
            margin-top: 20px;
            color: #ffffff;
            padding: 0.8rem;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;

            width: 120px;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: linear-gradient(to bottom left, #f6d148 40%, #ffc89e 100%);
            bottom: 0;

        }

        .title{
            padding-top: 20px;
        }
        .title h1{
            color: white;

        }
     </style>
 {% endblock %}
{% block body %}


<div class="wrapper">
    <div class="container">
        <div class="title">
        <h1>Entrar</h1>
        </div>
<form method="post" class="form">


    <input class="inputEmail" placeholder="email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

    <input class="inputPass" placeholder="contraseña" type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >


    <button id="login-button" type="submit">
        Entrar
    </button>
</form>
    </div>
    </div>
{% endblock %}
 {% block javascripts %}

 {% endblock %}