
{% include 'navbar.html.twig' %}

  {% block stylesheets %}
      <link href="{{ asset('assets/css/cards.css') }}" type="text/css" rel="stylesheet" />

  {% endblock %}

{% block body %}
<div class="main">
    <h1>Categorias</h1>
    <ul class="cards">
        {% for categoria in categorias %}

                <li class="cards_item">
                    <a href="{{ path('productos_categoria', {'id': categoria.id}) }}">
                        <div class="card">
                            <div class="card_image"><img src="/uploads/categorias/{{ categoria.imagen }}"></div>
                            <div class="card_content">
                                <h2 class="card_title">{{ categoria.nombre }}</h2>
                            </div>
                        </div>
                    </a>
                </li>
        {% else %}
            <p>No hay resultados</p>
        {% endfor %}

    </ul>
</div>

{% endblock %}
  {% include 'footer.html.twig' %}