
{% include 'navbar.html.twig' %}

  {% block stylesheets %}
      <link href="{{ asset('assets/css/cards.css') }}" type="text/css" rel="stylesheet" />

  {% endblock %}
{% block body %}
<div class="main">
    <h1>Marcas</h1>
    <ul class="cards">


        {% for marca in marcas %}

            <li class="cards_item_marca">
                <a href="{{ path('productos_marca', {'id': marca.id}) }}">
                <div class="card">
                    <div class="card_image-2"><img width="200px" height="150px" src="/uploads/marcas/{{ marca.imagen }}"></div>

                </div>
                </a>
            </li>

        {% else %}
            <p>No hay resultados</p>
        {% endfor %}

    </ul>
</div>
{% endblock %}
  {% include 'footer.html.twig' %}